<ng-container *ngIf="container !== undefined; else emptyTemplate">
  <h2>Container: {{ container?.name }}</h2>
  <div class="row">
    <div class="col-12">
      <div class="table-title">
        <h2>Actions</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-lg-4">
      <button mat-raised-button (click)="build()">
        <mat-icon>build</mat-icon>
        Build
      </button>
    </div>
    <div class="col-6 col-lg-4">
      <button mat-raised-button (click)="stop()">
        <mat-icon>stop</mat-icon>
        Stop
      </button>
    </div>
    <div class="col-6 col-lg-4">
      <button mat-raised-button (click)="start()">
        <mat-icon>start_alt</mat-icon>
        Start
      </button>
    </div>
    <div class="col-6 col-lg-4">
      <button mat-raised-button (click)="restart()">
        <mat-icon>restart_alt</mat-icon>
        Restart
      </button>
    </div>
    <div class="col-6 col-lg-4">
      <button mat-raised-button (click)="delete()">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </div>
    <div class="col-6 col-lg-4">
      <button mat-raised-button (click)="logs()">
        <mat-icon>event_note</mat-icon>
        Logs
      </button>
    </div>
  </div>
</ng-container>

<ng-template #emptyTemplate>
  <h2>Select a container to manage</h2>
</ng-template>
