<!-- TODO Add tooltips for disabled buttons below: https://material.angular.io/components/tooltip/overview -->
<div class="container">

  <ng-container *ngIf="project !== undefined; else emptyTemplate">
    <div class="row">
      <div class="col-12">
        <h2>Container: {{ project.name }}</h2>
        <div class="row">
          <div class="col-12">
            <div class="table-title">
              <h2>Actions</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-lg-4">
            <button mat-raised-button (click)="build()">
              <mat-icon>build</mat-icon>
              Build
            </button>
          </div>
          <div class="col-3 col-lg-2">
            <button mat-raised-button (click)="toggleLogs()">
              <mat-icon>event_note</mat-icon>
              Logs
            </button>
          </div>
          <div class="col-3 col-lg-2">
            <button mat-raised-button (click)="getLogs()">
              <mat-icon>event_note</mat-icon>
              Get logs
            </button>
          </div>
          <div class="col-6 col-lg-4">
            <button mat-raised-button (click)="kill()">
              <mat-icon>kill</mat-icon>
              Kill
            </button>
          </div>
          <div class="col-6 col-lg-4">
            <button mat-raised-button (click)="stop()">
              <mat-icon>stop</mat-icon>
              Stop
            </button>
          </div>
          <div class="col-6 col-lg-4">
            <button mat-raised-button (click)="restart()">
              <mat-icon>restart_alt</mat-icon>
              Restart
            </button>
          </div>
          <div class="col-6 col-lg-4">
            <button mat-raised-button (click)="composeDown()">
              <mat-icon>delete</mat-icon>
              Down
            </button>
          </div>
          <div class="col-6 col-lg-4">
            <button mat-raised-button (click)="composeUp()">
              <mat-icon>delete</mat-icon>
              Up
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-log-area></app-log-area>
      </div>
    </div>

  </ng-container>

  <ng-template #emptyTemplate>
    <div class="row">
      <div class="col-12">
        <h2>Select a container to manage</h2>
      </div>
    </div>
  </ng-template>
  <div class="row">
    <div class="col-12">
      <button mat-raised-button (click)="goBack()" title="Add" class="fixedWidth float-end">
        <mat-icon>add</mat-icon>
        Back
      </button>
    </div>
  </div>
</div>


