.ctrl-button {
 margin-left: 20px;
}

.margin-top {
  margin-top: 20px;
}

.fixedWidth {
  width: 100px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-margin {
  margin-left: 10px;
  margin-right: 10px;
}
