mat-form-field {
  width: 100%;
}

.mat-mdc-dialog-actions {
  display:flex;
  justify-content: flex-end;
}

.app-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.app-full-width {
  width: 100%;
}

input:disabled, textarea:disabled {
  color: black;
}

select:disabled {
  color: black;
}

// Add in style.scss as we are overriding css of global mat-select class which is part of other module.
.mat-select-disabled .mat-select-value {
  color: black;
}
