<!-- TODO add responsive design -->
<div class="login-page">
  <div class="form">
    <form (submit)="register()" [formGroup]="form">
      <input type="text" placeholder="username" formControlName="username"/>
      <input type="password" placeholder="password" formControlName="password"/>
      <input type="text" placeholder="email address" formControlName="email"/>
      <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-success">Register</button>
      </div>
      <p class="message">Already registered? <a [routerLink]="['/login']">Sign In</a></p>
    </form>
  </div>
</div>
