.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

main {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.featured {
}

.about {
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

.img-container {
  width: 100%;
}
.with-padding-top {
  padding-top: 20px;
}
