<div class="container">
  <header>
    <h1>Welcome to DockerHub</h1>
  </header>
  <main>
    <section class="featured">
      <h2>Featured Images</h2>
      <img ngSrc="../../../assets/icons/docker-logo.webp" alt="Docker Icon" height="150" width="260">
    </section>
    <section class="about">
      <h2>About Docker</h2>
      <p>
        Docker is a platform for developing, shipping, and running applications in containers. It provides an
        efficient way to package and distribute software.
      </p>
    </section>
  </main>

</div>
