.example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.mat-mdc-card-lg-image {
  padding-bottom: 16px;
}

.align {
  text-align: center;
}
.flex-container {
  padding-bottom: 16px;
  min-height: 152px;
  display: flex;
  justify-content: center; /* align item horizontally */
  align-items: center; /* align item vertically */
}
.item {
  width: 152px;
  margin-left: 0px;

  background: #b4bac0;
}

a {
  color: #000000;
  text-decoration: none;
}

