<!-- TODO add responsive design -->
<div class="login-page">
  <div class="form">
    <form (submit)="login()" [formGroup]="form">
      <input type="text" placeholder="username" formControlName="username"/>
      <input type="password" placeholder="password" formControlName="password"/>
      <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-success">Login</button>
      </div>
      <p class="message">Not registered? <a [routerLink]="['/register']">Create an account</a></p>
    </form>
  </div>
</div>
