table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.table-title {
  font-weight: bold;
  font-size: 26px;
}

.add-btn {
  text-align: right;
}

.full-width {
  width: 100%;
}

.highlight {
  background-color: whitesmoke !important;
}
